@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Exo+2');
body{
	background-image: url("images/constructor_background.jpg");
	margin: 0px;
}
.main-layer{
	background-color: rgba(251,251,251,0.86);
	width:1200px;height:966px;
	margin: 0px auto;
}
.my-header {
	width: 1200px;
	padding-top: 15px;
	height: 65px;
	background-color:#0C5AA6;
	text-align: center;
	color:white;
	font-family: "Exo 2";
   	font-weight: bold;
   	font-size: 35px;
   	font-style: normal;
}
.project-explorer-container {
	width: 300px;
	height: 780px;
	background-color:rgba(99,167,237,0.4);
	text-align: center;
	text-align-last: center;
	float:left;
}
.investment {
	margin-top:20px;
	width: 400px;
	height: 120px;
	float: left;
}
.project-explorer{
	width: 275px;
	display: block;
	margin: 0 auto;
	background-color:rgba(250,250,250,0.8);
	text-align: center;
	text-align-last: center;
	float:left;
	border-width: 2px;
	border-color: #dbdbdb; /* Цвет границы */ 
    border-style: solid; /* Стиль границы */ 
	float:left;
}
h3.h3
{
	color:rgb(0,45,86);
	font-family: "Exo 2";
	margin-bottom: 20px;
}
h5.h5
{
	color:rgba(13,107,192,1.00);
	font-family: "Exo 2";
	margin-top: 20px;
	font-size: 14px;
}


.constructor-panel{
	width: 900px;
	height: 780px;
	background-color:rgba(251,251,251,0.86);
	text-align: left;
	/*text-align-last: center;*/
	float:right;
}
/* ul-treefree */
ul.ul-treefree { padding-left:10px; }
ul.ul-treefree ul { margin:0; padding-left:6px; }
ul.ul-treefree li { position:relative; list-style:none outside none; border-left:solid 2px #999; margin:0; padding:0 0 0 40px; line-height:20px; text-align: left;}
ul.ul-treefree li:before { content:''; display:block; border-bottom:solid 2px #999; position:absolute; width:50px; height:11px; left:0; top:0; }
ul.ul-treefree li:last-child { border-left:0 none; }
ul.ul-treefree li:last-child:before { border-left:solid 2px #999; }
