<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Training portal</title>
<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Exo+2|Montserrat&amp;subset=cyrillic" rel="stylesheet">
<link href="../static/images/icon.png" rel="shortcut icon" type="image/x-icon">
<link href="../static/css/demo1.css" rel="stylesheet">
<link href="../static/css/login.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/scripts/reg.js"></script>

</head>
<body>
		<div id="wb_Form1" style="width:660px;">
			<form name="Form1" method="post" action="/reg" enctype="application/x-www-form-urlencoded" id="Form1">
			  <div class="wb_Text2" style="margin: 40px 0 0 auto;">Смена данных</div>
				
				<div id="surname-box"><input type="text" class="Editbox1" id="surname"  name="surname" value="" spellcheck="false" placeholder="   Фамилия"></div>
				<div id="name-box"><input type="text" class="Editbox1" id="name" name="name" value="" spellcheck="false" placeholder="   Имя"></div>
                <div><input type="email" class="Editbox1"  name="email" id="email" value="" spellcheck="false" placeholder="   E-mail" pattern=".+@globex.com" required></div>
				<div id="tnumber-box"><input type="number" class="Editbox1" id="tnumber" name="tnumber" id="tnumber" value="" spellcheck="false" placeholder="   Табельный номер" min = "90000000" max="99999999"></div>
				<div id="date-box"><input required type="text" class="Editbox1" placeholder="   Дата рождения" onfocus="(this.type='date')" id="date" name="date"/></div>
			
                <input type="hidden" name="_csrf" value="${_csrf.token}" />

				<div id="btn-box"><input type="submit" name="submit" value="Сохранить изменения" class="orangeButton" style="margin:30px auto 0 auto;height:50px;width:300px;"></div>
			</form>
		</div>
</body>
</html>
