<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Training portal</title>
<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Exo+2|Montserrat&amp;subset=cyrillic" rel="stylesheet">
<link href="../static/images/icon.png" rel="shortcut icon" type="image/x-icon">
<link href="../static/css/demo1.css" rel="stylesheet">
<link href="../static/css/login.css" rel="stylesheet">
</head>
<body>
		<div id="wb_Form1" style="width:660px;">
			<form name="Form1" method="post" action="/reg" enctype="application/x-www-form-urlencoded" id="Form1">
				<div style="margin: 0 auto;width:524px;">
						<h1 id="Heading"><a href="#" onclick="window.location.href='../templates/login.html';return false;">Training portal</a></h1>
					</div>
				<div class="wb_Text2" style="margin: 40px 0 0 auto;">
					<span>Регистрация</span>
				</div>
				<div id="username-box"><input type="text" class="Editbox1" id="username" name="username" value="" spellcheck="false" placeholder="   Никнейм"></div>
				<div id="password-box"><input type="password" class="Editbox1"  name="pass" id="password" value="" spellcheck="false" placeholder="   Пароль"></div>
                <div id="email-box"><input type="email" class="Editbox1"  name="email" id="email" value="" spellcheck="false" placeholder="   E-mail" pattern=".+@globex.com" required></div>

				<div id="surname-box"><input type="text" class="Editbox1"  name="surname" id="surname" value="" spellcheck="false" placeholder="   Фамилия"></div>
				<div id="name-box"><input type="text" class="Editbox1"  name="name" id="name" value="" spellcheck="false" placeholder="   Имя"></div>
				<div id="date-box"><input required type="text" class="Editbox1" placeholder="   Дата рождения" id="date" onfocus="(this.type='date')"  name="date"/></div>
				<div id="number-box"><input type="number" class="Editbox1" name="tnumber" id="number" value="" spellcheck="false" placeholder="   Табельный номер" min = "90000000" max="99999999"></div>

                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

				<div id="btn-submit"><input type="submit" name="submit" value="Зарегистрироваться" class="orangeButton" style="margin:50px auto auto auto;height:50px;width:300px;"></div>
				<div></div>
			</form>
		</div>
</body>
<script>
	var idParent = "name";
	var idEditbox = "username1"
	var message = "ERORR!!!";
	
	function addErrorText(message, idParent){
		var messageBox = document.createElement('span');
	messageBox.innerHTML = message;
	messageBox.classList.add("errorText")
	document.getElementById(idParent).appendChild(messageBox);
	}
	
	function setErrorCSS(idEditbox){
	var element = document.getElementById(idEditbox);
	element.classList.add("errorEditbox");
	}
	
	//проверка функций
	var test = addErrorText(message, idParent);
	test = setErrorCSS(idEditbox);
</script>
</html>
