<!doctype html>
<html>
<head>
<title>constructor</title>
<link href="../icon.png" rel="shortcut icon" type="image/x-icon">
<link href="../../static/css/course_designer.css" rel="stylesheet">
<link href="../demo1.css" rel="stylesheet">
<link href="../index.css" rel="stylesheet">
</head>

<body>
<div class="main-layer">
	  <div class="my-header">Конструктор курсов</div>
			<div class="project-explorer-container">
				
	  		</div>
		
		 	<div class="constructor-panel">
					<form style="width: 860px;height: 770px; float:left; margin: 30px 0 0 40px">
						<div>
							<div>
							<div><h3 class="h3">Выберите категорию страницы курса:</h3></div>
							<div>	
								<select autofocus style="margin: 20px 0 20px 40px;width: 300px; height: 30px;">
									<option>Наука о данных</option>
									<option>Бизнес</option>
									<option>Компьютерные науки</option>
									<option>Информационнае технологии</option>
									<option>Личное развитие</option>
									<option>Менеджмент</option>
								</select>
							</div>
						</div>
						<div>
							<div>
								<div><h3 class="h3">Выберите специальность:</h3></div>
								<div>	
									<select autofocus style="margin: 20px 0 20px 40px;width: 300px; height: 30px;">
										<option>Менеджмент</option>
										<option>Дипломатия</option>
										<option>Программная инженерия</option>
										<option>Информационнае технологии</option>
										<option>Другое</option>
									</select>
								</div>
							</div>
						</div>
						<div>
							<div><h3 class="h3">Выберите название для курса:</h3></div>
							<div><input type="text" size="70" autofocus autocomplete="on" style="height: 23px; margin: 20px 0 20px 40px;"></div>	
						</div>
						<div style="margin-top:40px;">
							<div><h5 class="h5" style="font-size:18px; color:rgba(0,70,134,1.00); ">Выберите тип страниц для курса:</h4></div>
							<div>
								<div style="margin:20px 0 20px 40px;"><input type="checkbox" checked><h5 class="h5" style="color:rgba(0,21,41,1.00); margin-left: 5px"; >Теоритические страницы</h4>
								</div>
							</div>
							<div>
								<div style="margin:20px 0 20px 40px;"><input type="checkbox" checked><h5 class="h5" style="color:rgba(0,21,41,1.00); margin-left: 5px"; >Тестирующие страницы</h4>
								</div>
							</div>
						</div>
						<div style="margin-top:40px;">
							<div><h5 class="h5" style="font-size:18px; color:rgba(0,70,134,1.00); ">Выберите тип курса:</h4></div>
							<div>
								<div style="margin:20px 0 20px 40px;"><input type="radio" name="type-course" checked><h5 class="h5" style="color:rgba(0,21,41,1.00); margin-left: 5px"; >Общедоступный курс</h4>
								</div>
							</div>
							<div>
								<div style="margin:20px 0 20px 40px;"><input type="radio" name="type-course"><h5 class="h5" style="color:rgba(0,21,41,1.00); margin-left: 5px"; >Назначенный курс</h4>
								</div>
							</div>
						</div>
						<div >
							<input class="orangeButton" type="button" value="Сохранить" style="display: block; margin: 80px auto; width: 200px; height: 40px;"
								   onclick="window.location.href='course_designer.html';return false;">
						</div>
					</div>
					</form>
					
				</div>
			 <img src="images/miet.jpg" width="100" height="100"  style="float: right; margin: 0;"alt=""/>
	</div>
</body>
</html>

