<!doctype html>
<html>
<head>
<title>constructor</title>
<link href="../icon.png" rel="shortcut icon" type="image/x-icon">
<link href="../../css/course_designer.css" rel="stylesheet">
<link href="../demo1.css" rel="stylesheet">
<link href="../index.css" rel="stylesheet">
</head>

<body>
<div class="main-layer">
	  <div class="my-header">Конструктор курсов</div>
			<div class="project-explorer-container">
				<div class="project-explorer" style="margin: 30px 10px 0 10px">
					<div><h3 class="h3">Название курса</h3></div>
					<div>
						<ul>
						  <ul class="ul-treefree">
									<li><p>1. Тема</p></li>
									<li><p>2. Тема</p></li>
									<li><p>3. Тема</p>
									</li>
									<li><p>4. Вопросы</p></li>
						  </ul>
						</ul>
					</div>
					<div id="wb_CssMenu1">
						<ul role="menubar">
						  <li class="firstmain"  style="width: 136px;">
								<a role="menuitem" class="withsubmenu" href="#" target="_self">Создать</a>
								<ul role="menu">
											<li class="firstitem">
												<a role="menuitem" href="#" target="_self">Страницу теории</a>
											</li>
											<li>
												<a role="menuitem" href="#" target="_self">Страницу тестов</a>
											</li>
										</ul>
							</li>
							<li  style="width: 136px;">
								<a role="menuitem" class="withsubmenu" href="#" target="_self">Удалить</a>
							</li>
						</ul>
					</div>
				</div>
	  </div>
		
	  <div class="constructor-panel">
				<form style="width: 860px;height: 770px; float:left; margin: 30px 0 0 40px">
					<div style="margin-bottom: 15px;"><h3 class="h3">Заголовок страницы:</h3></div>
					<div><input type="text" size="70" autofocus autocomplete="on" style="height: 25px;"></div>	
					<div style="margin: 30px 0 15px 0;"><h3 class="h3">Текст страницы курса:</h3></div>
					<textarea name="comment" cols="100" rows="25"></textarea>
					<div>
						<div class="investment">
							<div><h4>Прикрепить фото</h4></div>
							<div><h5 class="h5">(.jpg, .jpeg, .png)</h5></div>
							<div>
								<input type="file" accept=".jpg, .jpeg, .png" style="margin:20px;">
							</div>
						</div>
						<div class="investment">
							<div><h4>Прикрепить вложение</h4></div>
							<div><h5 class="h5">(.doc,.docx,.txt,.pptx, .ppt, .pptm, .mp4)</h5></div>
							<div>
								<input type="file" accept=".doc,.docx,.txt,.pptx, .ppt, .pptm, .mp4" style="margin:20px;">
							</div>
						</div>
					</div>
					<div >
						<input class="orangeButton" type="button" value="Сохранить" style="display: block; margin: 0 auto; width: 200px; height: 40px;" 
							   >
					</div>
				</form>
				
			</div>
     <img src="images/miet.jpg" width="100" height="100"  style="float: right; margin: 0;"alt=""/> </div>
</body>
</html>

