<!doctype html>
<html>
<head>
<title>constructor</title>
<link href="../icon.png" rel="shortcut icon" type="image/x-icon">
<link href="../../static/css/course_designer.css" rel="stylesheet">
<link href="../../static/css/demo1.css" rel="stylesheet">
<link href="../../static/css/index.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../../static/scripts/constructor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
<div class="main-layer">
	  <div class="my-header">Конструктор курсов</div>
			<div class="project-explorer-container">
				<div class="project-explorer" style="margin: 30px 10px 0 10px">
					<div><h3 class="h3" id='course_name'>Название курса</h3></div>
					<div><h5 class="h5" id='type_course'>Название курса</h5></div>
					<div class="pages-list">
						<ul id="list-pages" style="padding: 0;">
						</ul>
					</div>
					<div id="wb_CssMenu1">
						<ul role="menubar">
						  <li class="firstmain"  style="width: 136px;">
								<a role="menuitem" class="withsubmenu" href="#" target="_self">Создать</a>
								<ul role="menu">
											<li class="firstitem">
												<a role="menuitem" href="#" target="_self" onclick="addTextPage()">Страницу теории</a>
											</li>
											<li>
												<a role="menuitem" href="#" target="_self" onclick="addTestPage()">Страницу тестов</a>
											</li>
										</ul>
							</li>
							<li  style="width: 136px;">
								<a role="menuitem" class="withsubmenu" href="#" target="_self">Удалить</a>
							</li>
						</ul>
					</div>
				</div>
				<div>
						<input class="orangeButton" type="button" value="Сохранить курс" style="display: block; margin: 220px auto 0 auto;width: 220px; height: 40px;" 
							   >
					</div>
			</div>
		
	  <div class="constructor-panel">
				<form style="width: 860px;height: 850px; float:left; margin: 30px 0 0 40px">
					<div style="margin-bottom: 15px;"><h3 class="h3">Заголовок страницы:</h3></div>
					<div><input type="text" size="70" autofocus autocomplete="on" style="height: 25px;" value="Новая страница" id = "header-page"></div>	
					<div style="margin: 30px 0 15px 0;"><h3 class="h3">Текст страницы курса:</h3></div>
					<textarea name="comment" cols="100" rows="25" id="textAsk"></textarea>
					<div>
						<div class="investment">
							<div><h4>Прикрепить фото</h4></div>
							<div><h5 class="h5">(.jpg, .jpeg, .png)</h5></div>
							<div>
								<input type="file" accept=".jpg, .jpeg, .png" style="margin:20px;">
							</div>
						</div>
						<div class="investment">
							<div><h4>Прикрепить вложение</h4></div>
							<div><h5 class="h5">(.doc,.docx,.txt,.pptx, .ppt, .pptm)</h5></div>
							<div>
								<input type="file" accept=".doc,.docx,.txt,.pptx, .ppt, .pptm" style="margin:20px;">
							</div>
						</div>
						<div class="investment">
							<div><h4>Вставить ссылку на youtube</h4></div>
							<div>
								<input type="text"style="margin:20px;">
							</div>
						</div>
					</div>
					<div >
						<input class="orangeButton" type="button" value="Сохранить страницу" style="display: block; margin: 200px auto 0 auto; width: 300px; height: 40px;" 
							   >
					</div>
				</form>
				
			</div>
</body>
	<script>
	//получаем название курса
	document.getElementById('course_name').innerHTML = getLocalKey('course_name');
	//получаем тип курса
	if(getLocalKey('type_course'))
		document.getElementById('type_course').innerHTML = "[Общедоступный курс]";
	else
		document.getElementById('type_course').innerHTML = "[Назначенный курс]";
	//получаем количество тестовых страниц	
	var count_test_pages = getLocalKey('count_test_pages');
	//получаем количество текстовых страниц
	var count_text_pages = getLocalKey('count_text_pages');
	
	var count_pages = count_text_pages + count_test_pages;

	//получаем листы данных страниц
	var list_pageId = getLocalList('list_pageId');
	var list_types = getLocalList('list_types');
	var list_title = getLocalList('list_title');
	var list_text = getLocalList('list_text');
	
	if (list_pageId !== []){	
		//добавляем в обозреватель листов страницы, уже созданные ранее
		for (var i = 0; i < list_pageId.length; i++){
			getListTitles(list_title[i], list_pageId[i])
		}
	}
	addTextPage();

	function addTextPage(){
		count_text_pages++;
		//контейнер, в котором все страницы
		var list_pages = document.getElementById('list-pages');
		//создаем новую страницу
		var new_page = document.createElement('li');
		new_page.innerHTML = "Новая страница";
		new_page.classList.add("pages");
		new_page.id = "page"+count_text_pages;
		if (count_text_pages > 1){
			new_page.innerHTML +=" " + (count_text_pages-1);
			document.getElementById("header-page").value = "Новая страница "+(count_text_pages-1);
		}
		list_pages.appendChild(new_page);

		list_pageId.push(new_page.id);
		list_types.push("text");
		list_title.push(new_page.innerHTML);
		list_text.push("test");
		
		$('#list-pages').sortable({
			 change: function( event, ui ) {
				 //здесь надо повесить запоминание порядка при перетягивании
			 }
		});
		
	}
	function addTestPage(){
		setLocalLists(list_pageId,list_types, list_title, list_text);
		localStorage.setItem('count_text_pages', JSON.stringify(count_text_pages));
		window.location.href='test_designer.html';
	}


</script>
</html>

